body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(137, 170, 237);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar styles */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 15px;
}

.nav a {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
}